body {
    font-family: helvetica, arial, sans-serif;
    color: #3D3D3D;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
}

#loading {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#loading span {
    padding: 20px;
    font-weight: bold;
    background: white;
    border-radius: 5px;
}

h1 {
    margin-bottom: 10px;
    padding-left: 16px;
}

section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

fieldset {
    border: none;
    background-color: #eee;
    margin: 5px;
    line-height: 2em;
}

fieldset legend {
    background-color: gainsboro;
    text-transform: uppercase;
    padding: 0px 10px;
}

#input-error {
    display: block;
    color: red;
    font-size: small;
}

.hide {
    display: none;
}

input[type=number] {
    width: 60px;
}

#input-params fieldset,
#video-params fieldset,
#controls fieldset {
    flex-grow: 1;
}

#preview {
    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}

#capture-params input,
#roi-params input {
    text-align: right;
    margin-left: 5px;
    margin-right: 50px;
}

#roi {
    resize: both;
    overflow: auto;
    position: absolute;
    border: 1px dashed red;
    margin: 0;
    padding: 0;
    background-color: red;
    opacity: 0.5;
    z-index: 7;
    cursor: move;
    box-sizing: content-box;
    overflow: hidden;
}

#roi canvas {
    width: 100%;
    height: 100%;
    border: 0;
    box-sizing: border-box;
}

[draggable=true] {
    -khtml-user-drag: element;
}

#pupil-x,
#pupil-y {
    z-index: 10;
    display: none;
    position: absolute;
    box-sizing: border-box;
}

#pupil-x {
    top: 0;
    width: 1px;
    border-right: 1px dashed red;
}

#pupil-y {
    left: 0;
    height: 1px;
    border-bottom: 1px dashed red;
}

#pupil-x span,
#pupil-y span {
    position: absolute;
    font-size: small;
    font-family: monospace;
    padding: 0;
}

#pupil-x span {
    width: 100px;
    top: calc(100% + 5px);
    left: -50px;
    line-height: 10px;
    text-align: center;
}

#pupil-y span {
    line-height: 32px;
    top: -16px;
    left: calc(100% + 5px);
}


video {
    display: inline-block;
    z-index: 5;
}

#video-params fieldset {
    padding-bottom: 20px;
}

#controls fieldset > *:not(legend) {
    margin: 0 16px;
}

#outputs {
    height: 256px;
    width: 100%;
    padding-bottom: 30px;
    justify-content: space-around;
}

.out {
    padding: 0;
    height: 100%;
    background-color: transparent;
}

.out legend {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 22px;
}

#out-graph {
    flex-grow: 1;
}

#out-map {
    width: 100%;
    max-width: 256px;
    text-align: center;
}

#out-map canvas {
    height: 100%;
    display: inline-block;
}

#out-data {
    /* min-width: 500px; */
}

#trace {
    font-family: monospace;
    font-size: small;
    width: 100%;
    border-collapse: collapse;
}

#sticky-header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y: scroll;
}

#trace th {
    position: sticky;
    top: 0;
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
}

#trace th,
#trace td {
    text-align: right;
    line-height: 1em;
    white-space: nowrap;
    min-width: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

#trace-data tr:nth-child(even) {
    background-color: #eee;
}
