[submodule "expman"]
	path = expman
	url = https://github.com/fabiocarrara/expman
[submodule "models/deeplab"]
	path = models/deeplab
	url = https://github.com/david8862/tf-keras-deeplabv3p-model-set
